<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nudo.gg.sample.mapper.SampleMapper">
	
	
	<select id="get"
			parameterType="long"
			resultType="com.nudo.gg.sample.model.Sample" useCache="true">
SELECT  *
FROM    TB_SAMPLE
WHERE   ID = #{id}
	</select>


	<select id="search"
			parameterType="com.nudo.gg.sample.model.SampleCondition"
			resultType="com.nudo.gg.sample.model.Sample" useCache="true">
SELECT  *
FROM    TB_SAMPLE
WHERE   1=1
		<if test=" type != null and type != ''">
AND     TYPE = #{type} 
		</if>

	</select>


	<insert id="insert"
			parameterType="com.nudo.gg.sample.model.Sample">
		<selectKey keyProperty="id" resultType="long">
SELECT LAST_INSERT_ID()
		</selectKey>
INSERT INTO TB_SAMPLE(
	 ID
	,TYPE
	,VAL
)VALUES(
	 #{id}
	,#{type}
	,#{val}

)
	</insert>


	<update id="update"
			parameterType="com.nudo.gg.sample.model.Sample">
UPDATE TB_SAMPLE
SET    TYPE = #{type}
      ,VAL  = #{val} 			
WHERE  ID   = #{id}
	</update>


	<delete id="delete"
			parameterType="long">
DELETE FROM TB_SAMPLE
WHERE  ID = #{id}
	</delete>


</mapper>